.DMContainer {
  /* border: 1px solid black; */
  height: 500px;
  margin-top: 15%;
  margin-left:35%;
  
  
}

.messageContainer {
  display: flex;
  align-items: flex-end;
  
}

.singleMessage {
  display: flex;
  flex-direction: column;
  margin-bottom: 3%;
}

.messageform {
  display: flex;
  align-items: flex-end;
  width: 400px;
  background-color: white;
}

.msgPortion {
  height: 350px;
  width: 400px;
  border: 1px solid black;
  background-color: white;
  border-radius: 5px;
}

.formPortion{
    padding-bottom: 5%;
    
}


