.createProductContainer {
  display: flex;
  flex-direction: column;
  font-size: 25PX;
  margin-left: 20%;
  margin-top: 10%;
  gap: 15px;
  background-color: #f5f5f5;
  width:50%;
  border-radius: 5px;
  padding:5%
}

.errors{
  margin-top: 10vh;
  text-align: center;
  list-style-type: none;
}

.error-list{
   list-style-type: none;
   color:red
}

p{
  color:red
}
.product-form{
 
  margin-bottom: 5%;
  
}

.submit-button{
  width: 100%;
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  
}

.submit-button:hover{
  background-color: #45a049;
}


.input-area{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}