.mainContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    /* display: grid;
    grid-template-columns: repeat minmax(200px) */
    
}

.productContainer{
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    width: 60%;
   

}

.sellerContainer{
    /* width: 30%; */
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    /* justify-content: center; */
  
}

.editButton{
    width:10%;
    border:1px solid;
    /* min-width: 64px; */
    /* display:flex;
    justify-content: center; */
    border-radius: 4px;
    border-color: #00a87e;
    background-color: #ffffff;
    /* font-weight:bold; */
    /* color:green */
    margin-right: 3%;
    box-shadow: 1.5px 1px px black
}

.deleteButton{
    width:10%;
    border:1px solid;
    border-radius: 4px;
    border-color: #00a87e;
    background-color: #ffffff;
    /* color:green */
}

.askContainer{
    border:1px solid;
    min-width: 64px;
    display:flex;
    justify-content: center;
    border-radius: 4px;
    border-color: #00a87e;
    background-color: #ffffff;
    font-weight: bold;
    color:green;
    margin-bottom: 30px;
    width: 100%;
    font-size: 1.5rem;
}

.sellerPortion{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.product-image{
    
    height:200px;
    width:200px;
    object-fit:cover
}

.product-location, .product-category{
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;

}

.seller-info{
    font-size: 20px;
    font-weight: 700;
    line-height: 1.6;
}

.reviews-container{
    margin-top: 7%;
}

.description-content{
    font-size: 1.1rem;
    inline-size: 600px;
}
